<html>
    <head>
        <!-- Maybe I should create the validator as a front-end feature and not a backend one-->
        <title>Corporate url prettifyer: synergize your blockchains!</title>
    </head>

    <body>
        {% include "partials/header" %}

        <main>{% block main-content %}{% endblock %}}</main>

        {% include "partials/footer" %}
    </body>

</html>

