<html>
    <head>
        <!-- Maybe I should create the validator as a front-end feature and not a backend one-->
        <title>Corporate url prettifyer: synergize your blockchains!</title>
        <link rel="stylesheet" href="app.css" />
        <script type="text/javascript" src="scripts.js"></script>
    </head>

    <body>
        {% include "partials/header.njk" %}

        <main>
        {% block maincontent %}

        {% endblock %}
        </main>

        {% include "partials/footer.njk" %}
    </body>

</html>

